body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

li {
  height:100%;
  padding-block: 1rem;
  margin: 0;
  text-decoration: none;
  list-style: none;
  margin-inline: auto;
  text-align: center;
  width: 100%;
}
li:hover {
  background-color: #ddd
}

ul:nth-child(odd) {
  background-color: #eee;
}